.navigationBarWrapper{  
  text-align: center;
}

.navigationBarContent{
  padding: 5px;
  border: 1px solid #00000061;
  border-radius: 5px;
  width: 50vw;
  margin: auto;
  margin-top: 1vh;    
}

.navigationBarContent .navigation{
  padding: 5px;
  text-decoration: none;
  margin-right: 1vw;
} 

.successNavLink{
  background-color: #1e3c86f2;
  transition: 0.2s;
  color: white;
}

.buttonViewWrapper{
  text-align: center;
  border: 1px solid #00000070;
  border-radius: 10px;
  margin: auto;
  margin-top: 3vh;
  height: 87vh;
  width: 90vw;  
}

.buttonViewContent{
  margin: auto;
  width: 50vw;
}

.buttonViewContent button{
  width: 30vw;
  height: 7vh;
  color: white !important;
}


.ButtonResultWrapper{
  border: 1px solid #00000080;
  border-radius: 5px;
  margin: auto;
  height: 6vh;
  margin-top: 3vh;
  width: 20vw; 

}

.ButtonResultContent{
  padding: 10px;
  text-align: center;
}


.ButtonResultContent p{
  font-size: 125%;
  font-weight: bold;
}

.ButtonResultContent p span{
  color: green;
}


.btn-clear-counter{
  width: 12vw;
  margin-top: 2vh;
}


/* Report Styles */

.reportComponentWrapper{ 
  text-align: center;
  border: 1px solid #00000070;
  border-radius: 10px;
  margin: auto;
  margin-top: 3vh;
  height: 87vh;
  width: 50vw;  
}

.reportComponentContent .table tbody tr td{
  font-size: 100%;
  font-weight: bold;
}

.chartWrapper{
 
}
